input {
    outline: none;
    border: none;
}


/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/


.container-login100 {
  width: auto;
  margin: 3rem auto ;  
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-top: 20px;
  background: #FC9722;
}


/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 15px;
}


a {
    text-decoration: none;
}

.w100 {
    width: 100%;
}

.mat-form-field-outline {
    background: #e6e6e6;
}

.login102-form-btn {
font-size: 12px;
line-height: 1.5;
color: #fff;
text-transform: uppercase;
font-weight: 700;
box-shadow: 0 5px 0 #6b0303;

height: 50px;
border-radius: 25px;
background: #C70303;

display: flex;
justify-content: end;
align-items: center;
padding: 0 25px;

}

.login102-form-btn:hover {
  background: #333333;
  box-shadow: 0 5px 0 #000000;
}

.login102-form-btn:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

.login102-form-btn:disabled {
  background: #9aa198;
  box-shadow: none;
}

  .login103-form-btn {
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 5px 0 #040964;
  
  
    height: 50px;
    width: 100%;
    border-radius: 25px;
    background: #0F159C;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: start;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login103-form-btn:hover {
    background: #333333;
    box-shadow: 0 5px 0 #000000;
  }
  
  .login103-form-btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
  }

  .login103-form-btn:disabled {
    background: #9aa198;
    box-shadow: none;
  }


  .mat-radio-button ~ .mat-radio-button {
    margin-left: 100px;
    margin-bottom: 1rem;

  }

   /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .wrap-login100 {
    width: 960px;
    height: 580px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 100px 130px 33px 95px;
    box-shadow: 3px 3px 3px rgb(94, 89, 89);
  }
  
  /*------------------------------------------------------------------
  [  ]*/
  .login100-pic {
    width: 316px;
    height: 250px;
  }
  
  .img1 {
    max-width: 100%;
    line-height: 200px;
  }
  
  .login100-pic img {
    max-width: 100%;
  }
  
  
  /*------------------------------------------------------------------
  [  ]*/
  .login100-form {
    width: 40%;
    height: auto;
  }
  
  .login100-form-title {
    font-family: Poppins-Bold;
    font-size: 34px;
    color: #666666;
    line-height: 1.2;
    text-align: center;
  
    width: 100%;
    display: block;
    padding-bottom: 54px;
  }
  
  /*---------------------------------------------*/
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  
    display: block;
    width: -webkit-fill-available;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
  }
  
  #message {
    display:none;
    background: #fff;
    color: #000;
    position: relative;
    margin-top: 10px;
  }

  #message p {
    padding: 10px 35px;
    font-size: 12px;
  }

 
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  
  @media (max-width: 1092px) {
    .wrap-login100 {
      height: 500px;
      padding: 100px 90px 33px 85px;
    }
  
    .login100-pic {
      width: 35%;
    }
  
    .login100-form {
      width: 70%;
    }
  }

  @media (max-width: 791px) {
   
    .login100-form {
      width: 90%;
    }
  }
  
  @media (max-width: 767px) {
    .wrap-login100 {
      height: 500px;
      padding: 30px 25px 33px 25px;
    }
  
    .login100-pic {
      width: 50%;
      height: 230px;
      margin: 0 auto;
    }
  

    .img1 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      width: 100px;
      height: 100px;
      /* padding: 40px 80px 33px 80px; */
    }
  
    .txt3 {
      text-align: center;
      font-size: 24px;
    
    }
    
    .txt4 {
      font-size: 16px;
    }
  
    .txt5 {
      font-size: 13px;
    }
  
    /* .login100-form-title {
      display: none;
    } */
  
    .login100-form {
      width: 100%;
      margin: 0 auto;
    }
  
    .input100 {
      height: 40px;
    }
  
    .login100-form-btn {
      width: 115px;
    }
  
  }
  
  @media (max-width: 576px) {
    .wrap-login100 {
      padding: 20px 15px 33px 15px;
    }
  
  }
  
  @media (max-width: 414px) {
    .wrap-login100 {
      height: 430px;
      padding: 20px 15px 33px 15px;
    }
  
  }