<div class="container-login100">
    <div class="wrap-login100">

            <form *ngIf="perfil === 1" class="login100-form validate-form text-center">
                <span  *ngIf="perfil === 1" class="login100-form-title py-2">
                    Complete seu cadastro
                </span>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Cpf</mat-label>
                    <input matInput [formControl]="cpf" [(ngModel)]="clienteInfo.cpf" required placeholder="Digite seu cpf" type="text" maxlength="11">
                    <mat-error *ngIf="cpf.hasError('required')">Digite seu cpf</mat-error>
                </mat-form-field>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput [formControl]="telefone" [(ngModel)]="clienteInfo.telefone" required placeholder="Telefone" type="text">
                    <mat-error *ngIf="telefone.hasError('required')">Digite seu Telefone</mat-error>
                </mat-form-field>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Endereço</mat-label>
                    <input matInput [formControl]="endereco" [(ngModel)]="clienteInfo.endereco" required placeholder="Endereço" type="text">
                    <mat-error *ngIf="endereco.hasError('required')">Digite seu Telefone</mat-error>
                </mat-form-field>

                <div class="container-login100-form-btn">

                        <button (click)="create()" [disabled]="!validaCampos()" class="login103-form-btn">
                            Cadastrar
                        </button>
                </div>
            </form>
        </div>
    </div>