input {
    outline: none;
    border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.w100 {
  width: 100%;

}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding-top: 5%;
  padding-bottom: 10px;
}

.peq {
  padding-right: 80px;
  color: #666666;
  font-size: 14px;
}

.gran {
  color: #666666;
  font-size: 14px;
}

.dateStart {
  width: 45%;
  padding-right: 10%;
}

.dateFim {
  width: 45%;
}


.container-login100 {
  width: auto;
  margin: 1rem auto ;  
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #FC9722;
}

.form-check input {
  display: none;
  color: #666666;
  border-radius: 12px;
  height: 15px; 
  width: 15px;

}

.form-check {
  display: flex;
  padding-top: 15px;
  padding-left: 35px;
}

.form-check input + label:before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid gray;
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 3px;
  margin: 0 auto;
}

.form-check input:checked + label:before  {
  background-color: white;
  box-sizing: border-box;
  border: 5px solid #FC9722;
}

.form-check-label {
  font-family: Poppins-Bold;
  font-size: 17px;
  color: #666666;
  padding-bottom: 10px;
}

/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}



/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding-top: 15px;
}

.login101-form-btn {
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 5px 0 #165a0a;
  
  height: 50px;
  width: 50%;
  border-radius: 25px;
  background: #57b846;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  
  }
  
  .login101-form-btn:hover {
    background: #333333;
    box-shadow: 0 5px 0 #000000;
  }

  .login101-form-btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
  }
  
  .login101-form-btn:disabled {
    background: #9aa198;
    box-shadow: none;
  }

/*------------------------------------------------------------------
[ Alert validate ]*/


/*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .wrap-login100 {
    width: 960px;
    height: 580px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 70px 130px 33px 95px;
    box-shadow: 3px 3px 3px rgb(94, 89, 89);
  }
  
  /*------------------------------------------------------------------
  
  /*------------------------------------------------------------------
  [  ]*/
  .login100-form {
    width: 60%;
    height: auto;
  }
  
  .login100-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #666666;
    line-height: 1.2;
    text-align: center;
  
    width: 100%;
    display: block;
    padding-bottom: 54px;
  }

  /*---------------------------------------------*/
  .wrap-input100 {
    width: auto;
    height: auto;
    z-index: 1;
    margin-bottom: 10px;
  }
  
#campoCpf {
  display: inline-block;
  width: 60%;
  padding-top: 10px;
}

#campoPhone {
  display: inline-block;
  width: 39%;
  padding-left: 5px;
}

#campoAdress {
  display: inline-block;
  width: 70%;
}

#campoNumber {
  display: inline-block;
  width: 29%;
  padding-left: 5px;
}

#campoType {
  display: inline-block;
  width: 60%;

}

#campoDate {
  display: inline-block;
  width: 39%;
  padding-left: 5px;
}

  .input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  
    display: flex;
    width: -webkit-fill-available;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    margin: 0;
  }

  .form-select {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;

    display: block;
    width: 100%;
    background: #e6e6e6;
    border: none;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
  }

  .form-select-quant {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;

    display: inline-block;
    background: #e6e6e6;
    border: none;
    height: 30px;
    border-radius: 25px;
    padding: 0 23px 0 23px;
  }

  .form-select:focus, .form-select-quant  {
    outline: 0;
  }

  .form-parag {
    font-family: Poppins-Bold;
    font-size: 17px;
    color: #666666; 
    display: inline-block;
    padding-right: 10px;
    padding-left: 13px;
    padding-bottom: 20px;
  }

  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  
  
  @media (max-width: 992px) {
    .wrap-login100 {
      padding: 100px 90px 33px 85px;
    }
  
    .login100-form {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-login100 {
      padding: 40px 80px 33px 80px;
    }
  
    .login100-form {
      width: 100%;
    }

  }
  
  @media (max-width: 1024px) {
    .wrap-login100 {
      height: 100%;
      padding: 20px 15px 33px 15px;
    }

    .form-check {
      padding-top: 20px;
      padding-left: 0px;
    }

    .login100-peq, .login100-big {
      display: block;
      height: 90px;
      width: auto;
      margin: auto;
      border: 1px solid #666666;
      border-radius: 22px;
    }

    .form-check-label {
      font-size: 20px;
      margin: auto;
      align-items: center;
      justify-content: center;
    }

    .form-parag {
      margin: auto;
      align-items: center;
      justify-content: center;
      padding-left: 30px;
    }

    .imgPeq, .imgBig {
      display: none;
    }

    #campoCpf, #campoPhone, #campoAdress, #campoNumber, #campoType, #campoDate {
      display: block;
      width: 100%;
      padding-left: 0;
    }

    #campoType {
      padding: 0 30px 0 68px;
      margin-bottom: 10px;
    }

  }
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  #message {
    display:none;
    background: #fff;
    color: #000;
    position: relative;
    margin-top: 10px;
  }

  #message p {
    padding: 10px 35px;
    font-size: 12px;
  }

  .valid {
    color: green;
    display: flex;
    justify-content: start;
  }

  .valid:before {
    position: relative;
    left: -10px;
    content: ' \2714';
  }

  .invalid {
    color: red;
    display: flex;
    justify-content:start;
  }
  
  .invalid:before {
    position: relative;
    left: -10px;
    content: ' \2716';
  }
  