<div class="container-login100">
    <div class="wrap-login100">

        <form class="login100-form validate-form text-center">

            <mat-radio-group class="section" aria-label="Select an option">
                <mat-radio-button  class="peq" (click)="tamanhoPeq()" color="primary" value="1" checked>Caçamba pequena</mat-radio-button>
                <mat-radio-button class="gran" (click)="tamanhoGrande()" color="primary" value="2">Caçamba Grande</mat-radio-button>
            </mat-radio-group>

            
            <mat-form-field class="w100" appearance="outline">
                <mat-label>Endereço</mat-label>
                <input matInput [formControl]="endereco" [(ngModel)]="solicitacao.address" required placeholder="Endereço" type="text">
                <mat-error *ngIf="endereco.hasError('required')">Digite seu endereço</mat-error>
            </mat-form-field>

            <mat-form-field class="w100" appearance="outline">
                <mat-label>Número</mat-label>
                <input matInput [formControl]="numero" [(ngModel)]="solicitacao.addressnum" required placeholder="Nº" type="text">
                <mat-error *ngIf="numero.hasError('required')">Informe seu número de endereço</mat-error>
            </mat-form-field>

            <mat-form-field class="w100" appearance="outline">
                <mat-label>Tipo de Entulho</mat-label>
                <mat-select [formControl]="tiposControl" [(ngModel)]="solicitacao.typetrash" required>
                  <mat-option>Selecione</mat-option>
                  <mat-option *ngFor="let tipo of tipos" [value]="tipo.name">
                    {{tipo.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="tiposControl.hasError('required')">Selecione Tipo de entulho</mat-error>
            </mat-form-field>

            <mat-form-field class="dateStart" appearance="outline">
                <mat-label>Data de Entrega</mat-label>
                <input matInput [matDatepicker]="picker1" [formControl]="dateInicial" [(ngModel)]="solicitacao.dateinit">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="dateFim" appearance="outline">
                <mat-label>Data de recolhimento</mat-label>
                <input matInput [matDatepicker]="picker2" [formControl]="dateFim" [(ngModel)]="solicitacao.datefinal">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            
            
            <div class="container-login100-form-btn">

                    <button (click)="create()" class="login101-form-btn">
                        Cadastrar
                    </button>
            </div>
        </form>
    </div>
</div>