<h1 mat-dialog-title>Complete seu cadastro</h1>
<h3 mat-dialog-title>Para poder ter acesso a solicitação!</h3>
            <form  class="login100-form validate-form text-center">
                
                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Cpf</mat-label>
                    <input matInput [formControl]="cpf" mask="{{maskCpf}}" [(ngModel)]="clienteInfo.cpf" required placeholder="Digite seu cpf" type="text">
                    <mat-error *ngIf="cpf.hasError('required')">Digite seu cpf</mat-error>
                </mat-form-field>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput [formControl]="telefone" mask="{{maskPhone}}" [(ngModel)]="clienteInfo.phone" required placeholder="Telefone" type="text">
                    <mat-error *ngIf="telefone.hasError('required')">Digite seu Telefone</mat-error>
                </mat-form-field>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Endereço</mat-label>
                    <input matInput [formControl]="endereco" [(ngModel)]="clienteInfo.address" required placeholder="Endereço" type="text">
                    <mat-error *ngIf="endereco.hasError('required')">Digite seu Telefone</mat-error>
                </mat-form-field>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Número</mat-label>
                    <input matInput [formControl]="numero" [(ngModel)]="clienteInfo.addressnum" required placeholder="Nº" type="text">
                    <mat-error *ngIf="numero.hasError('required')">Informe seu número de endereço</mat-error>
                </mat-form-field>

                <div class="container-login100-form-btn">

                        <button (click)="create()" [disabled]="!validaCampos()" class="login101-form-btn">
                            Cadastrar
                        </button>
                </div>
            </form>

