<div class="container-login100">
    <div class="wrap-login100">
        <span  class="login100-form-title py-2">
            Realize seu cadastro
        </span>

        <mat-radio-group class="section" aria-label="Select an option">
            <mat-radio-button (click)="perfilCliente()" color="primary" value="1" checked>Cliente</mat-radio-button>
            <mat-radio-button (click)="perfilEmpresa()" color="primary" value="2">Empresa</mat-radio-button>
        </mat-radio-group>

            <form *ngIf="perfil === 1" class="login100-form validate-form text-center">
                
                <mat-form-field *ngIf="perfil === 1" class="w100" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput [formControl]="nome" [(ngModel)]="cliente.name" required placeholder="Nome" type="text" maxlength="50">
                    <mat-error *ngIf="nome.hasError('required')">Digite seu nome</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="perfil === 1" class="w100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email" [(ngModel)]="cliente.email" required placeholder="Email" type="text">
                    <mat-error *ngIf="email.hasError('required')">Digite seu email</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="perfil === 1" class="w100" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input [(ngModel)]="cliente.password" [formControl]="senha" required matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="senha.hasError('required')">Digite sua senha</mat-error>
                </mat-form-field>

                <div class="container-login100-form-btn">

                        <a href="login"><button type="button" class="login102-form-btn">
                            Cancelar
                        </button></a>

                        <button (click)="create()" [disabled]="!validaCampos()" class="login103-form-btn">
                            Cadastrar
                        </button>
                </div>
            </form>

            <form *ngIf="perfil === 2" class="empresa-form validate-form text-center">
                <mat-form-field *ngIf="perfil === 2" class="pl-10 pr-10 d-inlineblock" appearance="outline">
                    <mat-label>Nome Empresa</mat-label>
                    <input matInput [formControl]="nome" [(ngModel)]="empresa.name" required placeholder="Nome Empresa" type="text" maxlength="50">
                    <mat-error *ngIf="nome.hasError('required')">Digite seu nome</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="perfil === 2" class="d-inlineblock" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email" [(ngModel)]="empresa.email" required placeholder="Email Empresa" type="text">
                    <mat-error *ngIf="email.hasError('required')">Digite seu email</mat-error>
                </mat-form-field>


                <mat-form-field *ngIf="perfil === 2" class="pl-10 pr-10 d-inlineblock" appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput [formControl]="telefone" [(ngModel)]="empresa.phone" required placeholder="Telefone" type="text">
                    <mat-error *ngIf="telefone.hasError('required')">Digite seu email</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="perfil === 2" class="d-inlineblock" appearance="outline">
                    <mat-label>Cnpj</mat-label>
                    <input matInput [formControl]="cnpj" [(ngModel)]="empresa.cnpj" required placeholder="Cnpj" type="text">
                    <mat-error *ngIf="cnpj.hasError('required')">Digite um cnpj</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="perfil === 2" class="pl-10 w90" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input [(ngModel)]="empresa.password" [formControl]="senha" required matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="senha.hasError('required')">Digite sua senha</mat-error>
                </mat-form-field>

                <div class="container-login100-form-btn">

                        <a href="login"><button type="button" class="login102-form-btn">
                            Cancelar
                        </button></a>

                        <button (click)="create()" [disabled]="!validaCampos()" class="login103-form-btn">
                            Cadastrar
                        </button>
                </div>
            </form>
        </div>
    </div>

