<div class="container-login100">
    <div class="wrap-login100">

            <form class="login100-form validate-form text-center">
                <span class="login100-form-title py-3">
                    Editar Dados
                </span>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput [formControl]="nome" [(ngModel)]="companyUpade.name" required placeholder="Nome Empresa" type="text">
                    <mat-error *ngIf="nome.hasError('required')">Digite um nome</mat-error>
                </mat-form-field>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email" [(ngModel)]="companyUpade.email" required placeholder="Email Empresa" type="text">
                    <mat-error *ngIf="email.hasError('required')">Digite seu email</mat-error>
                </mat-form-field>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput [(ngModel)]="companyUpade.phone" required placeholder="Telefone" type="text" name="telefone">
                </mat-form-field>


                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Cnpj</mat-label>
                    <input matInput [(ngModel)]="companyUpade.cnpj" required placeholder="Cnjp" type="text" name="Cnjp">
                </mat-form-field>

                <mat-form-field class="wrap-input100" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input [(ngModel)]="companyUpade.password" [formControl]="senha" required matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="senha.hasError('required')">Digite sua senha</mat-error>
                </mat-form-field>

                <div (click)="update()" class="container-login100-form-btn">
                        <button  class="login103-form-btn">
                            Salvar
                        </button>
                </div>
            </form>
        </div>
    </div>