mat-drawer-container {
    background: #FC9722;
}
.container {
    height: 100%;
}

.containerMedia {
    display: none;
}

.sidenav {
    width: 13rem;
    color: white;
    background-color: #666666;
}

.menu-responsive {
    display: none;
}

.user {
    font-size: 16px;
    align-items: center;
    padding-left: 80%;
    font-size: 17px;
}

.sair {
    padding-left: 3%;
    cursor: pointer;
}

.sair-label {
    font-size: 18px;
}

.sidenavMedia {
 display: none;
}

img {
    width: 100%;
    height: 7rem;
    margin: .8rem auto 1rem auto;

}

.sidenav a {
    color: #FC9722;
}


.sidenav i {
    margin-right: .6rem;
}


.colorFocus:hover {
    background-color: rgb(53, 47, 36);
}


.sidenav-content {
    background: #FC9722;
    height: 70px;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: white;
    background: #666666;
    
}


  @media (max-width: 1700px) {
    .user {
        padding-left: 75%;
    }
  
  }

  @media (max-width: 1315px) {
    .user {
        padding-left: 70%;
    }
  
  }

  @media (max-width: 1128px) {
    .user {
        padding-left: 65%;
    }
  
  }

  @media (max-width: 974px) {
    .user {
        padding-left: 60%;
    }
  
  }

  @media (max-width: 871px) {
    .user {
        padding-left: 55%;
    }
  
  }

  @media (max-width: 795px) {
    .user {
        padding-left: 50%;
    }

    .menu,.sidenav {
        display: none;
    }

    .menu-responsive {
        display: inline-block;
        margin: 1rem 0 0 1rem;
        color: white;
        background: #666666;
        
    }
  
  }

  @media (max-width: 733px) {
    .user {
        padding-left: 45%;
    }
  
  }

  
  @media (max-width: 684px) {
    .user {
        padding-left: 40%;
    }
  
  }

  @media (max-width: 375px) {
    .user {
        padding-left: 15%;
    }
  
  }


