<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
        <img src="assets/img/imagen-nav.svg" alt="Imagem de navegação">
        <mat-nav-list class="nav-list">
            <a *ngIf="type === '[ROLE_USER]'" class="colorFocus" mat-list-item routerLink="solicitacao">
                <i class="material-icons">home</i>
                Solicitação
            </a>
            <a *ngIf="type === '[ROLE_USER]'" class="colorFocus" mat-list-item routerLink="clientManager" >
                <i class="material-icons">fact_check</i>
                Gerenciamento
            </a>
            <a *ngIf="type === '[ROLE_ADMIN]'" class="colorFocus"mat-list-item routerLink="companyManager">
                <i class="material-icons">assignment</i>
                Gerenciamento
            </a>

            <a *ngIf="type === '[ROLE_ADMIN]'" class="colorFocus" mat-list-item routerLink="dumpster/list/{{id}}">
                <i class="material-icons">list_alt</i>
                Visualizar Caçambas
            </a>

            <a *ngIf="type === '[ROLE_ADMIN]'" class="colorFocus" mat-list-item routerLink="dumpster/create">
                <i class="material-icons">add_circle</i>
                Criar Caçamba
            </a>
            
            <a *ngIf="type === '[ROLE_USER]'" class="colorFocus" mat-list-item routerLink="client/update/{{id}}">
                <i class="material-icons">settings</i>
                Meus Dados
            </a>

            <a *ngIf="type === '[ROLE_ADMIN]'" class="colorFocus" mat-list-item routerLink="company/update/{{id}}">
                <i class="material-icons">settings</i>
                Meus Dados
            </a>

            <a class="colorFocus" mat-list-item (click)="logout()">
                <i class="material-icons">logout</i>
                Sair
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
      <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <span class="user"><b>Usuário: </b>{{nome}}</span> -->
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
