<div class="conteiner">
  <mat-card class="card" *ngIf="ELEMENT_DATA.length == 0" >Nenhum registro encontrado!</mat-card>
   <div id="container" *ngIf="ELEMENT_DATA.length != 0"> 
      <div class="wrap-login100" >
        <p class="title">Caçambas Livres</p>
        <p class="total">
          {{livres}}
        </p>

        <div class="container-login100-form-btn">

          <button class="login101-form-btn" routerLink="cacambas/livres">
              Visualizar
          </button>
        </div>
      </div>

      <div class="wrap-login100 end">
        <p class="title">Caçambas Ocupadas</p>
        <p class="total">
          {{ocupadas}}
        </p>

        <div class="container-login100-form-btn">

          <button class="login101-form-btn" routerLink="cacambas/ocupadas">
              Visualizar
          </button>
        </div>
      </div>
  </div>
    <div class="mat-elevation-z8" *ngIf="ELEMENT_DATA.length != 0">
        <table mat-table [dataSource]="dataSource">
      
         
          <ng-container  matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Tamanho da caçamba </th>
            <td mat-cell *matCellDef="let element"> {{element.size === 1 ? 'Caçamba Media' : 'Caçamba Grande'}} </td>
          </ng-container>
      
          <ng-container  matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Endereço </th>
            <td  mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>

          <ng-container  matColumnDef="addressnum">
            <th mat-header-cell *matHeaderCellDef> Número </th>
            <td  mat-cell *matCellDef="let element"> {{element.addressnum}} </td>
          </ng-container>
      
          <ng-container class="oculta" matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Tipo de Entulho </th>
            <td mat-cell *matCellDef="let element"> {{element.typetrash}} </td>
          </ng-container>
  
          <ng-container matColumnDef="dateinit">
            <th mat-header-cell *matHeaderCellDef> Data da Entrega </th>
            <td mat-cell *matCellDef="let element" > {{element.dateinit}} </td>
          </ng-container>
  
          <ng-container matColumnDef="datefinal">
            <th mat-header-cell *matHeaderCellDef> Data de Recolhimento</th>
            <td mat-cell *matCellDef="let element"> {{element.datefinal}} </td>
          </ng-container>
      
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
    
              <a  (click)="entrege(element.id)" *ngIf="element.statusid == 1">
                <i matTooltip="entregar"  matTooltipClass="custom-tooltip" matTooltipPosition="before" class="material-icons edit">done</i>
              </a>
              <a (click)="recolhe(element.id)" *ngIf="element.statusid == 4">
                <i matTooltip="Recolher"  matTooltipClass="custom-tooltip" matTooltipPosition="after" class="material-icons delete">task_alt</i>
              </a>

              <p *ngIf="element.statusid == 4">Recolhida</p>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons 
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
  </div>
