<div class="container-login100">
    <div class="wrap-login100">

        <div class="login100-pic">
            <img class="img1 pt-2" src="assets/img/img-01.png" alt="IMG">
        </div>

        <form class="login100-form validate-form text-center">
            <span class="login100-form-title py-3">
                Recuperar Senha
            </span>

            <mat-form-field class="w100" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email" [(ngModel)]="resetP.email" required placeholder="Email" type="text">
                <mat-error *ngIf="email.hasError('required')">Digite um email</mat-error>
            </mat-form-field>

            <div class="messageInfo pb-3">
                <p class="messageInfor">
                    Insira o email relacionado a conta para recuperação de senha.
                </p>
            </div>

            <div class="container-login100-form-btn">

                    <a href="login"><button type="button" class="login102-form-btn">
                        Cancelar
                    </button></a>

                    <button (click)="reset()" [disabled]="!validaCampos()" class="login103-form-btn">
                        Enviar
                    </button>
            </div>
        </form>
    </div>
</div>
