<h2 mat-dialog-title>Termos de uso</h2>
<mat-dialog-content class="mat-typography">
  
    <p class="disc"> A Loca Fácil é uma empresa inovadora para o ramo de construção civil 
      <br> que tem como foco oferecer serviços de gerenciamento e facilitação de logística, 
    <br>através de uma plataforma digital acessada através da internet.
    <br><p></p> Todos os dados estão protegidos seguindo a Lei Geral de Proteção de Dados Pessoais.
    <br>Ao concordar com os termos e condições de uso da política de privacidade
    <br> será totalmente responsabilidade do usuário garantir a exatidão dos seus dados. 
    <br><p class="disc"></p> Ficando certo de que o usuário isenta a Loca Fácil de qualquer transtorno 
    <br>referente aos dados fornecidos incorretamente.
    <br><p class="disc"></p> Em nenhum momento poderemos ser responsabilizados por falhas de desempenho, 
    <br>interrupção, vírus ou falha no sistema do Website.</p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button (click)="terms()" class="btn" mat-raised-button color="Accent">Aceitar</button>
</mat-dialog-actions>
