<div class="container-login100">
    <div class="wrap-login100">

            <form class="login100-form validate-form text-center">
                <span class="login100-form-title py-3">
                    Editar Dados
                </span>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput [formControl]="nome" [(ngModel)]="clientUpade.name"  placeholder="Nome" type="text" readonly>
                    <mat-error *ngIf="nome.hasError('required')">Digite seu nome</mat-error>
                </mat-form-field>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email" [(ngModel)]="clientUpade.email"  placeholder="Email" type="text" readonly>
                    <mat-error *ngIf="email.hasError('required')">Digite seu email</mat-error>
                </mat-form-field>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>cpf</mat-label>
                    <input matInput [(ngModel)]="clientUpade.cpf" mask="{{maskCpf}}"  name="cpf" type="text" readonly>
                </mat-form-field>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Endereço</mat-label>
                    <input matInput [(ngModel)]="clientUpade.address" name="endereco" type="text" readonly>
                </mat-form-field>

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Número</mat-label>
                    <input matInput [(ngModel)]="clientUpade.addressnum"   name="numero" type="text" readonly>
                </mat-form-field>

                <mat-form-field class="wrap-input100" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input [(ngModel)]="clientUpade.password" [formControl]="senha" required matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="senha.hasError('required')">Digite sua senha</mat-error>
                </mat-form-field>

                <div (click)="update()" class="container-login100-form-btn">
                        <button  class="login103-form-btn">
                            Salvar
                        </button>
                </div>
            </form>
        </div>
    </div>